body {
  background-color: black;
  color: white;
}
#top {
  padding-bottom: 200px;
}
#left {
  display: inline;
}
#right {
  display: inline;
  position: absolute;
  left: 50px;
}
a:link {
  color: white;  
}
a:visited {
  color: white; 
}
a:hover {
  color: red; 
}
