body {
  background-color: black;
  color: white;
}
#top {
  padding-bottom: 200px;
}
#left {
  display: inline;
}
#right {
  display: inline;
  width: 200px;
  float: right;
}
a:link {
  color: white;  
}
a:visited {
  color: red; 
}
a:hover {
  color: green; 
}
